In [1]:
import pandas as pd
import numpy as np
import itertools

In [21]:
# Load data
data = pd.read_csv('input.txt', sep=" ", header=None)
data.columns = ['count', 'letter', 'word']
data['letter'] = data['letter'].str.replace(':','')

# Part1

In [73]:
data['count_letter'] = data.apply(lambda x: x['word'].count(x['letter']), axis=1)

In [74]:
data[['min','max']] = data['count'].str.split('-', expand=True)

In [75]:
data

,count,letter,word,count_letter,min,max,pos1,pos2,valid
0,1-9,x,xwjgxtmrzxzmkx,4,1,9,True,False,True
1,4-6,r,rrrkrgr,5,4,6,False,False,False
2,4-5,v,vvfvvvn,5,4,5,True,True,False
3,5-16,m,pxmrtmbmqmcldmmm,7,5,16,False,True,True
4,15-16,s,bsshsszslssssslqdsss,13,15,16,False,False,False
...,...,...,...,...,...,...,...,...,...
995,10-11,f,qdfwvfffdfvwffgfkfgf,10,10,11,True,False,True
996,3-4,b,xgxbdqxbfvzrl,2,3,4,False,True,True
997,2-8,b,pbbkbbgbxr,5,2,8,True,True,False
998,1-2,d,ddxdnv,3,1,2,True,True,False
999,4-8,d,dndfcnhd,3,4,8,False,True,True

In [76]:
sum(data.apply(lambda x: x['count_letter'] in range(int(x['min']), int(x['max'])+1), axis=1))

640

# Part2

In [77]:
data['pos1'] = data.apply(lambda x: x['word'][int(x['min'])-1] == x['letter'], axis=1)
data['pos2'] = data.apply(lambda x: x['word'][int(x['max'])-1] == x['letter'], axis=1)

In [78]:
data['valid'] = data['pos1'] ^ data['pos2'] # ^ is xor for two booleans

In [79]:
data

,count,letter,word,count_letter,min,max,pos1,pos2,valid
0,1-9,x,xwjgxtmrzxzmkx,4,1,9,True,False,True
1,4-6,r,rrrkrgr,5,4,6,False,False,False
2,4-5,v,vvfvvvn,5,4,5,True,True,False
3,5-16,m,pxmrtmbmqmcldmmm,7,5,16,False,True,True
4,15-16,s,bsshsszslssssslqdsss,13,15,16,False,False,False
...,...,...,...,...,...,...,...,...,...
995,10-11,f,qdfwvfffdfvwffgfkfgf,10,10,11,True,False,True
996,3-4,b,xgxbdqxbfvzrl,2,3,4,False,True,True
997,2-8,b,pbbkbbgbxr,5,2,8,True,True,False
998,1-2,d,ddxdnv,3,1,2,True,True,False
999,4-8,d,dndfcnhd,3,4,8,False,True,True

In [80]:
sum(data['valid'])

472